.item_description_box{
    display: grid;
    align-items: center;
}
.item_description_box > *{
    grid-column: 1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
}
.item_description_img_wrapper{
    filter: brightness(60%);
    z-index:-1;
}
.item_description_img{
    width: 100%;
    height: 100%;
}
.item_description_description_wrapper{
    display: flex;
    padding-inline: 120px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fcfcfc;
}
.item_description_description_titre{
    font-size: 5rem;
}
.item_description_description_action_wrapper{
    margin-block: 15px;
}
.item_description_description_action{
    padding: 25px;
    background: #232323;
    color:#fcfcfc;
}