.item_description_box{
    display: flex;
    position: relative;
}
.item_description_box > *{
    width: 50%;
    border: 2px solid #222;
}
.item_description_description_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30%;
    border-radius: 50%;
}