#picture_portfolio{
    background: #0fbad0;
    color: #fff;
    padding-inline: 200px;
}
.picture_portfolio_heading_wrapper{
    text-align: center;
    padding: 64px;
}
.picture_portfolio_heading_title{
    font-size: 3em;
}
.picture_portfolio_portfolio{
    display: grid;
    grid-template-columns: repeat(4,3fr);
}

.picture_portfolio_portfolio_picture_wrapper{
    display: grid;
    background: #fff;
    box-shadow: 0 0 5px #0008;
    color:#000;
    align-items: center;
    margin: 16px;
    transition: .8s;
}
.picture_portfolio_portfolio_picture_label{
    display: none;
}
#picture_portfolio.labeled .picture_portfolio_portfolio_picture_label{
    display: grid;
    align-items: center;
    padding-block: 32px;
    padding-inline: 64px;
    text-align: center;
    font-size: 1.4em;
    object-fit: cover;
}


.picture_portfolio_portfolio_picture{
    transition: .8s;
    width: 100%;
    min-height: 35vh;
}

.picture_portfolio_portfolio_picture:hover
,.picture_portfolio_portfolio_picture:focus-within{
    box-shadow: 0 0 15px #99e8;
    transform: scale(1.12);
    transition: .5s;
    z-index: 1;
}