#picture_portfolio{

}

.picture_portfolio_portfolio{
    display: grid;
    grid-template-columns: repeat(4,3fr);
}

.picture_portfolio_portfolio_picture_wrapper,.picture_portfolio_portfolio_picture{
    width: 100%;
    height: 100%;
}