#picture_portfolio{
    --ipad:200px;
    /* background: #0fbad0;
    color: #fff; */
    padding-inline: var(--ipad);
}
.picture_portfolio_heading_wrapper{
    text-align: center;
    padding: 64px;
}
.picture_portfolio_heading_title{
    font-size: 3em;
}
.picture_portfolio_portfolio{
    display: grid;
    grid-template-columns: repeat(4,3fr);
}

.picture_portfolio_portfolio_picture_wrapper{
    display: grid;
    position: relative;
    isolation: isolate;
    box-shadow: 0 0 5px #0008;
    align-items: end;
    margin: 16px;
    transition: .8s;
    min-height: 45vh;
}
.picture_portfolio_portfolio_picture_label{
    display: grid;
    align-items: center;
    padding-block: 32px;
    padding-inline: 16px;
    text-align: justify;
    font-size: 1.4em;
    object-fit: cover;
    background: #0009;
    color: #fff;
    border-top:2px solid #fff;
}


.picture_portfolio_portfolio_picture{
    position: absolute;
    transition: .8s;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media screen and (max-width:992px) {
    #picture_portfolio{
        --ipad:72px;
    }
    .picture_portfolio_portfolio{
        display: grid;
        grid-template-columns: repeat(2,6fr);
    }
}
@media screen and (max-width:600px) {
    .picture_portfolio_portfolio{
        display: grid;
        grid-template-columns: 12fr;
    }
    #picture_portfolio{
        --ipad:16px;
    }   
}